
/*
  Base
*/
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #1C1D21;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 4fr 1fr;
  height: 100vh;
}

* {
   box-sizing: border-box;
}


/*
  Layout 
*/
.sidePanelContainer {
  grid-column: 1;
  grid-row: 1 / span 2;
  height: 100%;
  width: 100%;
}

.chatAreaContainer {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.inputAreaContainer {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  width: 50%;
}


/*
  Login Modal
*/

.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.loginModalContainer {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 60vw;
  height: 300px;
  max-height: 80vw;

  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 11;
}

.modalHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginTitle {
  color: black;
  font-size: large;
  font-weight: bold;
  margin: 10px;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  color: black;
  font-weight: 600;
  border: black;
  background: none;
  border-radius: 10px;
}

.modalBody {
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
}

.loginComponents {  
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 35px;
  padding: 0 20px;
}

.loginComponents .emailTextArea{ 
  background-color: lightgrey;
  color: black;
  height: 35px;
  border: none;
  padding-left: 10px;
}

.loginComponents .passwordTextArea{ 
  background-color: lightgrey;
  color: black;
  height: 35px;
  border: none;
  padding-left: 10px;
}

.loginButtonDiv {
  align-self: center;
}

.modalLoginButton{ 
  margin-top: 15px;
  padding: 10px 20px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.actions .registerText {
  color: black;
}

.actions .registerButton {
  background: none;
  color: blue;
  padding: 2px;
}

.actions .loginNowButton{
  background: none;
  color: blue;
  padding: 2px;
}

.modalLoginButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Register Modal
*/
.registerModalContainer {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 60vw;
  height: 350px;
  max-height: 80vw;

  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 11;
}

.loginComponents .names {
  display: flex;
  flex-direction: row;
  gap: 22px
}

.loginComponents .firstName{ 
  background-color: lightgrey;
  color: black;
  height: 35px;
  border: none;
  padding-left: 10px;
}

.loginComponents .lastName{ 
  background-color: lightgrey;
  color: black;
  height: 35px;
  border: none;
  padding-left: 10px;
}


/*
  Sidepanel
*/
.sidePanelWrapper {
  height: 100%;
  overflow: auto;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1e1e20;
  transition: width 0.2s ease-in;
}

.sidePanel.open {
  width: 100%;
}

.sidePanel.close {
  width: 40%;
}

.sidePanelHeader {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.toggleSidePanelButton.open {
  background: none;
  border: none;
  padding: 0;
  rotate: 180deg;
}

.toggleSidePanelButton.close {
  background: none;
  border: none;
  padding: 0;
}

.toggleSidePanelButton img {
  width: 30px;
}

.loginButton {
  position: absolute;
  left: 5px;
  bottom: 13px;
  padding: 5px;
}

.userIconWrapper{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.userIconContainer.open {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.userIconContainer.close {
  display: flex;
}

.userIconImage {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: cadetblue;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.userIconImageCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: cadetblue;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.userName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.logoutButton {
  position: absolute;
  left: 5px;
  bottom: 13px;
  padding: 5px;
}

.userChat {
  width: 100%;
  background: none;
  border: none;
  margin-bottom: 5px;
  text-overflow: ellipsis;
}

.userChat.close {
  background: none;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*
  Chat Area
*/
.bubblesContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 4%;
  gap: 20px;
}

.chatbotChatBubbleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userChatBubbleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.userChatBubble {
  background-color: #343636;
  border-radius: 20px;
  border: 0px solid #FFEEDD;
  padding: 11px 15px 11px 15px;
  word-break: break-word;
}

.chatbotChatBubble {
  display: flex;
  align-items: flex-start;
  width: 75%;
  height: auto;
  padding: 8px;
  border-radius: 20px;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
}


/*
  Input Area
*/
.inputAreaWrapper {
  position: relative;
}

.userTextArea {
  width: 100%;
  height: 55px;
  padding: 15px 50px 15px 15px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid #FFEEDD;
  resize: none;
  overflow: hidden;
}

.sendButton {
  position: absolute;
  right: 15px;
  top: 22.5%;
  border: none;
  padding: 0;
  background: none;
}

.sendButton img {
  width: 30px;
}
