
/*
  Base
*/
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 4fr 1fr;
  height: 100vh;
  background-color: #1C1D21;
}

* {
   box-sizing: border-box;
}

/*
  Layout 
*/
.sidePanelContainer {
  grid-column: 1;
  grid-row: 1 / span 2;
  height: 100%;
  width: 100%;
}

.chatAreaContainer {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.inputAreaContainer {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  width: 50%;
}


/*
  Sidepanel
*/
.sidePanelWrapper {
  height: 100%;
  overflow: auto;
}

.sidePanel.open {
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: #1e1e20;
  transition: width 0.2s ease-in;
  box-shadow: 2px 1px #2e2d2d;
}

.sidePanel.close {
  overflow: auto;
  height: 100%;
  width: 30%;
  background-color: #1e1e20;
  transition: width 0.2s ease;
  box-shadow: 2px 1px #2e2d2d;
}

.toggleSidePanelButton.open {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  padding: 0;
  rotate: 180deg;
}

.toggleSidePanelButton.close {
  position: absolute;
  left: 5px;
  top: 13px;
  background: none;
  border: none;
  padding: 0;
}

.toggleSidePanelButton img {
  width: 30px;
}


/*
  Chat Area
*/
.bubblesContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 4%;
  gap: 20px;
}

.chatbotChatBubbleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userChatBubbleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.userChatBubble {
  background-color: #343636;
  border-radius: 20px;
  border: 0px solid #FFEEDD;
  padding: 11px 15px 11px 15px;
  word-break: break-word;
}

.chatbotChatBubble {
  display: flex;
  align-items: flex-start;
  width: 75%;
  height: auto;
  padding: 8px;
  border-radius: 20px;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
}

/*
  Input Area
*/
.inputAreaWrapper {
  position: relative;
}

.userTextArea {
  width: 100%;
  height: 55px;
  padding: 15px 50px 15px 15px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid #FFEEDD;
  resize: none;
  overflow: hidden;
}

.sendButton {
  position: absolute;
  right: 15px;
  top: 22.5%;
  border: none;
  padding: 0;
  background: none;
}

.sendButton img {
  width: 30px;
}
