.doc{
  background-color: #1C1D21;
}

.inputContainer {
  display: flex;
  position: fixed;
  bottom: 5%;
  left: 20%;
  right: 20%;
  gap: 20px;
}

.chatAreaContainer {
  position: fixed;
  left: 20%;
  right: 20%;
  top: 5%;
  bottom: 15%;
  overflow-y: auto;
  scrollbar-width: none;
}

.chatBubblesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.userTextArea {
  flex: 1;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid #FFEEDD;
  resize: none;
  overflow: hidden;
}

.sendButton {
  width: 100px;
  height: 60px;
  font-size: 20px;
  border: 0.5px solid #FFEEDD;
  background-color: #74B3CE;
  color: #FFEEDD;
}

.userChatBubble {
  width: 200px;
  height: 30px;
  padding: 8px;
  background-color: #508991;
  border-radius: 20px;
  border: 1px solid #FFEEDD;
  resize: none;
  overflow: hidden;
}