.doc{
  background-color: #1C1D21;
}

.container {
  display: flex;
  position: fixed;
  bottom: 5%;
  left: 20%;
  right: 20%;
  gap: 20px;
}

.userTextArea {
  flex: 1;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid #FFEEDD;
  resize: none;
  overflow: hidden;
}

.sendButton {
  width: 100px;
  height: 60px;
  font-size: 20px;
  border: 0.5px solid #FFEEDD;
  background-color: #74B3CE;
  color: #FFEEDD;
}

.userChatBubble {
  width: 100px;
  height: 60px;
  background-color: red;
  border-radius: 20px;
  resize: none;
  overflow: hidden;
}